{% extends 'layout.html' %}
{% block title %}{{ category.name }}{% endblock %}
{% block content %}
<div class="content">
    <h1>keskustelualue - {{ category.name }}</h1>
    <hr>
    <p>viestiketjuja: {{ count_threads }}</p>
    {% if session.user_id %}
    <div class="message-box">
        <p><strong>luo uusi viestiketju</strong></p>
        <form action="/{{ category.name }}/new_thread" method="POST">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <input type="hidden" name="category_id" value="{{ category.category_id }}">
            <input type="hidden" name="category_name" value="{{ category.name }}">
            <input type="text" id="thread_name" name="thread_name" placeholder="otsikko" size="30" maxlength="100" required>
            <br> 
            <p>viesti:</p>
            <textarea name="content" rows="6" cols="60" placeholder="kirjoita viesti..." maxlength="20000" required></textarea>
            <p><input type="submit" value="lähetä"></p>
        </form>
    </div>
    {% endif %}
        {% for thread in threads %}
        <div class="message-box">
            <a href="/{{ category.name }}/{{ thread.thread_id }}"><h3>{{ thread.thread_name }}</h3></a>
            <p id="{{ thread.thread_id }}" class="message-content">{{ thread.thread_content }}</p>
            {% if session.user_id == thread.user_id %}
                <label>
                    <input type="checkbox" class="toggle-edit-options" data-thread-id="{{ thread.thread_id }}"> 
                    editoi
                </label>
                <div class="edit-options" data-thread-id="{{ thread.thread_id }}">
                    <form action="/{{ category.name }}/edit_thread" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                        <input type="hidden" name="thread_id" value="{{ thread.thread_id }}">
                        <input type="hidden" name="category_name" value="{{ category.name }}">
                        <br>
                        <input type="text" id="thread_name" name="thread_name" placeholder="viestiketjun otsikko" value="{{ thread.thread_name }}" 
                        size="30" maxlength="100" required>
                        <br>
                        viesti: 
                        <br>
                        <textarea name="content" rows="6" cols="60" placeholder="kirjoita viesti..." maxlength="20000" required>{{ thread.thread_content }}</textarea>
                        <br>
                        <input type="submit" value="päivitä">
                    </form>
                    <br>
                    <form action="/{{ category.name }}/delete_thread" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                        <input type="hidden" name="thread_id" value="{{ thread.thread_id }}">
                        <input type="submit" value="poista" class="delete-button"/>
                    </form>
                </div>
            {% endif %}
            <hr>
            {% if thread.message_count == 0 %}
            <p>ei vastauksia</p>
            {% else %}
            <p>vastauksia: {{ thread.message_count }} 
            {% if thread.last_message_time %}
            | viimeisin viesti: {{ thread.last_message_time }}</p>
            {% endif %}
            {% endif %}
        </div>
        {% endfor %}
</div>
    <script>
        function toggleEditOptions() {
            var editOptions = document.querySelectorAll('.edit-options');
            editOptions.forEach(function(options) {
                var checkbox = options.previousElementSibling.querySelector('.toggle-edit-options');
                options.style.display = checkbox.checked ? 'block' : 'none';
            });
        }
        document.querySelectorAll('.toggle-edit-options').forEach(function(checkbox) {
            checkbox.addEventListener('change', toggleEditOptions);
        });
        toggleEditOptions();

        const requiredFields = document.querySelectorAll("input[required], textarea[required]");
        requiredFields.forEach(field => {
            field.addEventListener("invalid", function(event) {
                field.setCustomValidity("tekstikenttä ei saa olla tyhjä");
            });
            field.addEventListener("input", function(event) {
                field.setCustomValidity("");
            });
        });
    </script>
{% endblock %}