{% extends "layout.html" %}
{% block title %}chatsovellus{% endblock %}
{% block content %}
    <div class="content">
        <h1>tervetuloa chatsovellukseen</h1>
        <hr>
        <p>keskustelualueita: {{ count_categories }}</p>
        <ul>
            {% for category in categories %}
                <li>
                    <a href="/{{ category.category_name }}">{{ category.category_name }}</a>
                    {% if admin %}
                    <form action="/delete_category" method="POST">
                        <input type="hidden" name="category_id" value="{{ category.category_id }}">
                        <input type="submit" value="poista keskustelualue"/>
                    </form>
                    {% endif %}
                    <p>viestiketjujen määrä: {{ category.thread_count }}</p>
                    <p>viestien määrä: {{ category.message_count }}</p>
                    <p>viimeisin viesti: {{ category.last_message_time }}</p>
                </li>
            {% endfor %}
        </ul>
        {% if admin %}
            <p>luo uusi keskusteluketju:</p>
            <form action="/new_category" method="POST">
                <input type="text" name="category_name"> 
                <input type="radio" name="is_secret" value="0"checked> julkinen
                <input type="radio" name="is_secret" value="1"> salainen
                <br>
                <input type="submit" value="luo uusi keskustelualue">
            </form>
        {% endif %}
    </div>
{% endblock %}

