<!doctype html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="navbar">
        <div class="left-links">
            <div class="title">chatsovellus</div>
            <div class="separator"></div>
            <div>
                {% if current_page != 'index' %}
                    <a href="/">etusivulle</a>
                {% endif %}
                {% if current_page == 'thread' %}
                    <a href="/{{ category.name }}">edellinen</a>
                {% endif %}
            </div>
        </div>
        <div class="right-links">
            <a href="/search">haku</a>
            {% if session.user_id %}
                <a href="/logout">kirjaudu ulos</a>
            {% elif current_page != 'login' %}
                <a href="/login">kirjaudu sisään</a>
            {% endif %}
        </div>
    </div>
    {% block content %}{% endblock %}
    </div>
</body>
</html>
