{% extends "layout.html" %}
{% block title %}kirjautuminen{% endblock %}
{% block content %}
    <div class="content login-page">
        <h1 class="page-title">kirjaudu sisään</h1>
        <div class="login-container">
            <form action="/login" method="post">
                <label for="username">tunnus:</label>
                <input type="text" name="username" name="username" required>
                <label for="password">salasana:</label>
                <input type="password" name="password" name="password" required>
                <input type="submit" value="kirjaudu">
            </form>
        </div>
        <p>jos sinulla ei ole tunnusta, <a href="/register">luo käyttäjätunnus</a></p>
    </div>
{% endblock %}